<ion-header>
    <ion-navbar>
      <ion-title>任务详情</ion-title>
    </ion-navbar>
  
  </ion-header>
  
  <ion-content>
    <ion-card>
      <form>
          <div class="form-group">
              <label>Id:</label>
              <p>{{selectedTodo.id}}</p>
          </div>
  
          <div class="form-group">
              <label>标题:</label>
              <p>{{selectedTodo.title}}</p>
          </div>
  
          <div class="form-group">
              <label>创建时间:</label>
              <p>{{selectedTodo.createdDate}}</p>
          </div>
  
          <div class="form-group">
              <label>是否完成:</label>
              <p>{{selectedTodo.complete}}</p>
          </div>
      </form>
    </ion-card>
  <!--<a (click)="goBack()">返回</a>-->
  
  </ion-content>